

*{
  margin: 0;
  padding: 0;
  user-select:none;
}


.wrapper{
  widows: 100px;
  max-width: 860px;
  margin: 100px auto;
  padding: 30px auto;
  box-sizing: border-box;

}
.content{
  text-align:center;
}

.content h1{
  margin:1px;

}
.form{
  width: 110%;
  min-height: 26px;
  margin: 0;

}

.bottom-form{
  width: 110%;
  min-height: 70px;
  margin: 10px 0;
}
.p<center><p style="color: crimson;font-size: large;"><a href="https:ecstastics-kare-573fd1.netifly.com"I have experience the webing throught Mzamotsha primary school projectr></a>
